# ------------------------------------------------------------------------------
# Git / Docker
# ------------------------------------------------------------------------------
.git
.gitignore
Dockerfile
.dockerignore
docker-compose*.yml

# ------------------------------------------------------------------------------
# Binaries for programs and plugins
# ------------------------------------------------------------------------------
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# ------------------------------------------------------------------------------
# Go workspace & Dependencies
# ------------------------------------------------------------------------------
go.work
go.work.sum
# vendor/ # vendorモードを使っていないなら除外してOK

# ------------------------------------------------------------------------------
# Environment / Secrets
# ------------------------------------------------------------------------------
.env
.env.*
!.env.example 
# 構造の参考用にexampleだけ含めたい場合は「!」で除外を解除

# ------------------------------------------------------------------------------
# Editor / IDEs / OS
# ------------------------------------------------------------------------------
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db